@import "compass/css3";

.event-source {
  border: 1px solid #ccc;
  background-color: #eee;
  height: 400px;
  margin-bottom: 20px;
}

.pad-instructions {
  line-height: 400px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.event-ledger {
  display: block;
  height: 400px;
  overflow: auto;
}